@{
    ViewData["Title"] = "Inicio";
    var userName = "Julio";
}
@* zarate profe *@
<div class="container mt-5">
    <h2>¡Hola, @userName!</h2>
    <p>SANNA te cuida</p>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card bg-primary text-white">
                <div class="card-body d-flex align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/387/387561.png" alt="Doctora" style="height: 60px; margin-right: 20px;" />
                    <div>
                        <h5 class="card-title">Con Vida SANNA</h5>
                        <p class="card-text">Asegura tu salud y la de tu familia</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Planes de vida SANNA</h5>
                    <p class="card-text">Asegura la salud de tu familia</p>
                </div>
            </div>
        </div>
    </div>

    <h5 class="mt-5 mb-3">¿En qué podemos ayudarte?</h5>

    <div class="row text-center">
        <div class="col-md-3">
            <a asp-controller="MantenedorCita" asp-action="InsertarCita" class="text-decoration-none">
                <div class="card p-3 bg-light h-100">
                    <i class="fas fa-calendar-plus fa-2x text-success"></i>
                    <p class="mt-2 text-dark">Solicitar cita</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="MantenedorCita" asp-action="ListarCita" class="text-decoration-none">
                <div class="card p-3 bg-light h-100">
                    <i class="fas fa-list fa-2x text-success"></i>
                    <p class="mt-2 text-dark">Mis citas</p>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="RecetasMedicas" asp-action="MisRecetas" class="text-decoration-none">
                <div class="card p-3 bg-light h-100">
                    <i class="fa-solid fa-suitcase-medical fa-2x"></i>
                    <p class="mt-2 text-dark">Mis recetas</p>
                </div>
            </a>
        </div>

    </div>

</div>
