@{
    ViewData["Title"] = "Inicio";
    var userName = "Julio";
}

<div class="row gx-4 gx-lg-5 align-items-center my-3">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/assets/landing/reservar_cita.webp" alt="Imagen de reservar cita" />
    </div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">
            Nuestro mejor plan es cuidar tu salud y la
            de tu familia.
        </h1>
        
    </div>
</div>

<!-- Call to Action -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Reserva tus citas médicas de manera rápida y segura, sin salir de casa. Clinica Sanna, amamos tu salud.</p>
    </div>
</div>

