@{
    ViewData["Title"] = "Servicio de Ambulancia";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 text-center">
    <h2 class="text-danger">🚑 Llama a la Ambulancia</h2>

    <img src="https://cdn-icons-png.flaticon.com/512/996/996785.png" alt="Ambulancia" width="200" class="my-3" />


    <p class="lead">Servicio de Ambulancia</p>
    <p>Para solicitar el servicio por favor comunícate al:</p>

    <h3 class="text-primary">(01) 626 8888 opción 9</h3>

    <p class="text-muted">
        * Recuerda que este servicio es sólo para emergencias.<br />
        Sujeto a disponibilidad de cobertura.
    </p>
</div>
