@model CapaEntidad.entPaciente








@{
    ViewData["Title"] = "EditarPaciente";
}

<h1>EditarPaciente</h1>

<h4>entPaciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idPaciente" class="control-label"></label>
                <input asp-for="idPaciente" class="form-control" readonly="true" />
                <span asp-validation-for="idPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rucPaciente" class="control-label"></label>
                <input asp-for="rucPaciente" class="form-control" />
                <span asp-validation-for="rucPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razonSocial" class="control-label"></label>
                <input asp-for="razonSocial" class="form-control" />
                <span asp-validation-for="razonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dirPaciente" class="control-label"></label>
                <input asp-for="dirPaciente" class="form-control" />
                <span asp-validation-for="dirPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCiudad" class="control-label"></label>
                <input asp-for="idCiudad" class="form-control" />
                <span asp-validation-for="idCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoPaciente" class="control-label"></label>
                <input asp-for="idTipoPaciente" class="form-control" />
                <span asp-validation-for="idTipoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEstPaciente" class="control-label"></label>
                <input asp-for="idEstPaciente" class="form-control" />
                <span asp-validation-for="idEstPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecCreacion" class="control-label"></label>
                <input asp-for="fecCreacion" class="form-control" readonly="true"/>
                <span asp-validation-for="fecCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
