@model CapaEntidad.entCliente

@{
    ViewData["Title"] = "EditarCliente";
}

<h1>EditarCliente</h1>

<h4>entCliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCliente" class="control-label"></label>
                <input asp-for="idCliente" class="form-control" readonly="true" />
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rucCliente" class="control-label"></label>
                <input asp-for="rucCliente" class="form-control" />
                <span asp-validation-for="rucCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razonSocial" class="control-label"></label>
                <input asp-for="razonSocial" class="form-control" />
                <span asp-validation-for="razonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dirCliente" class="control-label"></label>
                <input asp-for="dirCliente" class="form-control" />
                <span asp-validation-for="dirCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCiudad" class="control-label"></label>
                <input asp-for="idCiudad" class="form-control" />
                <span asp-validation-for="idCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoCliente" class="control-label"></label>
                <input asp-for="idTipoCliente" class="form-control" />
                <span asp-validation-for="idTipoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEstCliente" class="control-label"></label>
                <input asp-for="idEstCliente" class="form-control" />
                <span asp-validation-for="idEstCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecCreacion" class="control-label"></label>
                <input asp-for="fecCreacion" class="form-control" readonly="true"/>
                <span asp-validation-for="fecCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
