@model CapaEntidad.entCita

@{
    ViewData["Title"] = "Insertar Cita";
    Layout = "~/Views/Shared/_LayoutPaciente.cshtml";
}

<div class="mt-4">
    <h1 class="mb-4">Reservar Cita Médica</h1>

    <hr />

    <form asp-action="InsertarCita">
        <div class="row">
            <div class="col-md-6">
                <h4>Tipo de Cita</h4>
                <select asp-for="tCita" asp-items="ViewBag.TipoCita" class="form-control">
                    <option value="">Seleccione un tipo de cita</option>
                </select>
            </div>
        </div>

        <hr />

        <div class="row">
            <!-- Sede -->
            <div class="col-md-4">
                <h4>Sede</h4>
                <div class="form-group">
                    <select asp-for="sedeCita" asp-items="ViewBag.ListaSedes" class="form-control">
                        <option value="">Seleccione Sede</option>
                    </select>
                </div>
            </div>

            <!-- Especialidad-->
            <div class="col-md-4">
                <h4>Especialidad</h4>
                <div class="form-group">
                    <select asp-for="especialidadMedico" asp-items="ViewBag.ListaEspecialidades" class="form-control" disabled="false">
                        <option value="">Seleccione especialidad</option>
                    </select>
                </div>
            </div>

            <!-- Medico -->
            <div class="col-md-4">
                <h4>Médico</h4>
                <div class="form-group">
                    <select asp-for="nombreMedico" asp-items="ViewBag.ListaMedico" class="form-control" disabled="false">
                        <option value="">Seleccione Medico</option>
                    </select>
                </div>
            </div>
        </div>

        <hr />

        <!-- Detalles de la Cita -->
        <div class="row">
            <div class="col-md-6">
                <h4>Turno de la Cita</h4>
                <div class="form-group">
                    <select asp-for="hCita" asp-items="ViewBag.ListaHoras" class="form-control">
                        <option value="">Seleccione una hora</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Reservar Cita" class="btn btn-success btn-lg" />
        </div>
    </form>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>